<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="oculus.software.vr.app.hybrid" android:required="false" />

    <uses-feature android:name="oculus.software.handtracking" android:required="false" />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />

    <uses-feature android:name="com.oculus.feature.RENDER_MODEL" android:required="true" />
    <uses-permission android:name="com.oculus.permission.RENDER_MODEL" />

    <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="true" />
    <uses-feature android:name="com.oculus.feature.BOUNDARYLESS_APP" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GodotAndroidSamples">

        <!-- Main Activity driving the panel mode for our Hybrid App -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.oculus.intent.category.2D" />
            </intent-filter>
        </activity>

        <!--
        XR Activity driving the immersive mode for our Hybrid App

        We use a separate process because both activities host a Godot instance, and at this point
        in time, only 1 Godot instance is supported per process.
         -->
        <activity
            android:name=".XRActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:process=":xr"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.oculus.ossplash" android:value="true"/>
    </application>

</manifest>
